
  

  <label for="firstName">
    First Name:</label>
    <input id="fn" type="text" [formControl]="firstName"><br><br> 
    <label for="lastName">
    Last Name:</label>
    <input id="ln"  type="text" [formControl]="lastName"><br><br>
    <label for="phoneNumber">
    Phone Number:</label>
    <input id="pn" type="text" [formControl]="phoneNumber"><br><br>
    <label for="emailAddress">
    Email Address:</label>
    <input id="ea" type="text" [formControl]="emailAddress">

    
    <p>
      <button class='blue' (click)="addContact(getValues())">Add Contact</button>
      <button class='blue' (click)="updateContact()">Update Contact</button>
      </p>


      
    






